---
---

body {
  background-color: green;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: red;
}

.center {
  text-align: center;
}
