<!doctype html>

<html lang="he" dir="rtl">
  <head>
    <title>בוכי עושה אינטרנט</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <meta charset="utf-8">
  </head>

  <body>
    <h1>בוכי נקודה קום!</h1>

    <div class="container">
      <div>
        <marquee direction="left" scrolldelay="40" truespeed>
          <h2>מצחיק!</h2>
          <img src="{{ '/assets/images/sote.jpg' | relative_url }} ">
        </marquee>
      </div>

      <div>
        <marquee direction="right" scrolldelay="40" truespeed>
          <h2>מימים!</h2>
          <img src="{{ '/assets/images/meme.jpg' | relative_url }} ">
        </marquee>
      </div>

      <div>
        <marquee direction="left" scrolldelay="40" truespeed>
          <a href="https://twitter.com/nitzannahliel/status/1283892917317312513?s=09">
            <h2>תנו לניצן לייקים!!!</h2>

            <img src="{{ '/assets/images/nitzan.png' | relative_url }} ">
          </a>
        </marquee>
      </div>

      <div>
        <marquee direction="right" scrolldelay="40" truespeed>
          <h2>בוכיייי</h2>
          <img src="{{ '/assets/images/buchi.jpg' | relative_url }} ">
        </marquee>
      </div>
    </div>
  </body>
</html>
